# ETL - Relação de Servidores - IFPB

## Extract

### Fonte:  https://dados.gov.br/dados/conjuntos-dados/ifpb-servidores

## Transform

- Importando biblioteca para manipulação dos dados

In [3]:
import pandas as pd

- Carregando arquivo .csv

In [68]:
df = pd.read_csv("servidores.csv")

- Explorando dados

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   matricula              2976 non-null   int64
 1   nome                   2976 non-null   object
 2   cargo_emprego          2948 non-null   object
 3   jornada_trabalho       2973 non-null   object
 4   lotacao_siape.sigla    2461 non-null   object
 5   lotacao_suap.sigla     2601 non-null   object
 6   setor_exercicio.sigla  2927 non-null   object
 7   funcao_codigo          516 non-null    float64
 8   disciplina_ingresso    1219 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 209.4+ KB

In [70]:
print("Valores nulos por coluna:")
print(df.isnull().sum())

Valores nulos por coluna:
matricula                   0
nome                        0
cargo_emprego              28
jornada_trabalho            3
lotacao_siape.sigla       515
lotacao_suap.sigla        375
setor_exercicio.sigla      49
funcao_codigo            2460
disciplina_ingresso      1757
dtype: int64

- Removendo colunas desnecessárias

In [71]:
df = df.drop(columns=['lotacao_siape.sigla', 'lotacao_suap.sigla', 'funcao_codigo','disciplina_ingresso'])
df.columns

Index(['matricula', 'nome', 'cargo_emprego', 'jornada_trabalho',
       'setor_exercicio.sigla'],
      dtype='object')

- Verificando valores nulos para tratamento

In [72]:
print("Valores nulos por coluna:")
print(df.isnull().sum())

Valores nulos por coluna:
matricula                 0
nome                      0
cargo_emprego            28
jornada_trabalho          3
setor_exercicio.sigla    49
dtype: int64

In [73]:
# Exibir as linhas onde há valores nulos em qualquer coluna
linhas_com_nulos = df[df.isnull().any(axis=1)]

# Mostrar as primeiras 20 linhas com valores nulos
print(linhas_com_nulos.head(50))

      matricula                                     nome  \
1239    1625140                   Sonia Ribeiro da Silva
1285  123456789                                    teste
1350    1735601                     Antonio Barbosa Neto
1390  273978001                        CARLOS VIDAL LIMA
1514    3609942             Joao Alves de Medeiros Filho
1515    3625160               Veralucia Martins da Silva
1605   20303424                       Eder Pires Batista
1688       1234                         inventariojp2013
2147    1255506        Claudio Emilio Santos de Oliveira
2148    1047023            Bruno Wagner Pereira de Souza
2376    1813396                 Andrey Oliveira de Souza
2475    1085373                  Elisane de Lima Serafim
2481    1418670                       Alex Dias da Silva
2488    1576996                    Radamir Lira de Sousa
2523    1025095  Rebeka Maria de Carvalho Santos Godeiro
2525    1818258        Claudia Maria Alves Pegado Dantas
2534    1382289        Gislayne Sabrina de Lira Bertoldo
2554    2120313         Evaldo Paulo de Souza Pulcinelli
2560    3136001           Diego Frankney Frazao da Silva
2563    3138232                 Rafael Domingos da Silva
2565    3138678                 Eduardo Silva dos Santos
2566    3139163                  Palloma da Silva Araujo
2596    3148918          Samuel Moura Lira Coelho Soares
2602    3150816                 Renato Cavalcante Chaves
2608    3151555             Ingrid Paloma da Costa Porto
2611    3152190         Yuri Alexsander Iwagoe Alexandre
2618    3154360             Keuller Brian da Silva Gomes
2619    3154368                 Jonas Jose da Cruz Silva
2621    3155429                   Bruno da Silva Alencar
2625    3156107               Fan Clemente Dutra Serrano
2626    3156122     Julliete Cristina Maia Bezerra Ramos
2649    3158690                  Luan Rodrigues da Silva
2653    1087156                  Enver Jose Lopes Cabral
2688    3160064           Felipe Araujo da Silva Queiroz
2699    3160736                 Agnes Guarines de Aguiar
2700    3160743                Monica Firmino dos Santos
2763    3162771          Jessica Mayara Vieira de Araujo
2764    3162775          Marcelo Silva dos Santos Junior
2785    1884826      Michele Sardenberg Siqueira Valente
2792    3168998                   Maria Rosilda da Silva
2812    3177650                   Syndhy da Silva Inacio
2836    1006148      Thomas Gustavo de Freitas Florencio
2841    1164726      Valeria Maria de Figueiredo Pazetto
2849    1819623           Rommel Patrick Sarmento Soares
2851    3208463                   Thaise Marques de Lima
2899    3211855                   Ramda Pereira de Souza
2917    1560194                Salomao de Sousa Medeiros
2941    1046535        Danielle Gomes Nascimento de Lima
2945    1167855                  Alecvan de Franca Sousa
2973    1956010              Vitor Angelo Villar Barreto

                              cargo_emprego     jornada_trabalho  \
1239            AAD-AUXILIAR ADMINISTRATIVO    44 HORAS SEMANAIS
1285                                    NaN                  NaN
1350             ARTIFICE DE VIA PERMANENTE    40 HORAS SEMANAIS
1390                   AUX EM ADMINISTRACAO                  NaN
1514            AAD-AUXILIAR ADMINISTRATIVO    44 HORAS SEMANAIS
1515     AUXILIAR - AUXILIAR ADMINISTRATIVO    44 HORAS SEMANAIS
1605                                    NaN    20 HORAS SEMANAIS
1688                                    NaN                  NaN
2147                             PROCURADOR    40 HORAS SEMANAIS
2148                    ASSISTENTE DE ALUNO    40 HORAS SEMANAIS
2376  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2475                   AUX EM ADMINISTRACAO    40 HORAS SEMANAIS
2481  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2488  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2523           BIBLIOTECARIO-DOCUMENTALISTA    40 HORAS SEMANAIS
2525  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2534            TECNICO DE LABORATORIO AREA    40 HORAS SEMANAIS
2554  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2560                                    NaN    20 HORAS SEMANAIS
2563                                    NaN    20 HORAS SEMANAIS
2565                                    NaN    20 HORAS SEMANAIS
2566                                    NaN    20 HORAS SEMANAIS
2596                                    NaN    20 HORAS SEMANAIS
2602                                    NaN    20 HORAS SEMANAIS
2608                                    NaN    20 HORAS SEMANAIS
2611                                    NaN    20 HORAS SEMANAIS
2618                                    NaN    20 HORAS SEMANAIS
2619                                    NaN    20 HORAS SEMANAIS
2621                                    NaN    20 HORAS SEMANAIS
2625                                    NaN    20 HORAS SEMANAIS
2626                                    NaN    20 HORAS SEMANAIS
2649                                    NaN    20 HORAS SEMANAIS
2653       TECNICO EM ASSUNTOS EDUCACIONAIS    40 HORAS SEMANAIS
2688                                    NaN    20 HORAS SEMANAIS
2699                                    NaN    20 HORAS SEMANAIS
2700                                    NaN    20 HORAS SEMANAIS
2763                                    NaN    20 HORAS SEMANAIS
2764                                    NaN    20 HORAS SEMANAIS
2785                      ASSISTENTE SOCIAL    40 HORAS SEMANAIS
2792                                    NaN    20 HORAS SEMANAIS
2812                                    NaN    20 HORAS SEMANAIS
2836                     PRODUTOR EXECUTIVO    40 HORAS SEMANAIS
2841  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2849   ANALISTA EM TECNOLOGIA DA INFORMACAO    40 HORAS SEMANAIS
2851                                    NaN    20 HORAS SEMANAIS
2899                                    NaN    20 HORAS SEMANAIS
2917                                    NaN    40 HORAS SEMANAIS
2941  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2945  PROFESSOR ENS BASICO TECN TECNOLOGICO  DEDICACAO EXCLUSIVA
2973                                    NaN  DEDICACAO EXCLUSIVA

     setor_exercicio.sigla
1239                   NaN
1285                   NaN
1350                   NaN
1390                   NaN
1514                   NaN
1515                   NaN
1605                DDE-JP
1688                   NaN
2147                   NaN
2148                   NaN
2376                   NaN
2475                   NaN
2481                   NaN
2488                   NaN
2523                   NaN
2525                   NaN
2534                   NaN
2554                   NaN
2560                   NaN
2563                   NaN
2565                   NaN
2566                   NaN
2596                   NaN
2602                   NaN
2608                   NaN
2611                   NaN
2618                   NaN
2619                   NaN
2621                   NaN
2625                   NaN
2626                   NaN
2649                   NaN
2653                   NaN
2688                   NaN
2699                   NaN
2700                   NaN
2763                   NaN
2764                   NaN
2785                   NaN
2792                   NaN
2812                   NaN
2836                   NaN
2841                   NaN
2849                   NaN
2851                   NaN
2899                   NaN
2917                   NaN
2941                   NaN
2945                   NaN
2973                   NaN

In [74]:
df.head(20)

,matricula,nome,cargo_emprego,jornada_trabalho,setor_exercicio.sigla
0,39810,Hercilio Matias de Oliveira,TECNICO EM CONTABILIDADE,40 HORAS SEMANAIS,PRAF-RE
1,41894,Jose Dutra Amorim,CONTADOR,40 HORAS SEMANAIS,PRAF-RE
2,41933,Marcos Antonio Petrucci de Assis,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,DAPF-CZ
3,41938,Jansen Tinoco de Medeiros,VIGILANTE,40 HORAS SEMANAIS,CSEINT-JP
4,47258,Eugenio Pacelli Fernandes Leite,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
5,47333,Maria Osmarina Nogueira de Mendonca,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,DAPF-GB
6,48566,Quenafles Vasconcelos Lopes,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
7,48870,Moacir Veloso Filho,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
8,49296,Maria Dozinha Geronimo de Souza,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
9,50421,Eliane Rezende Teles Araujo,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
10,50429,Joao Carlos Moreira de Macedo,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CB-JP
11,50431,Lucrecia Camilo de Lima,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CB-JP
12,50443,Maria das Lagrimas Cardoso Rodrigues,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CNAM-JP
13,50449,Maria do Carmo Ferreira de Lima,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
14,50455,Maria Doracy Moreira de Macedo,TECNICO EM ASSUNTOS EDUCACIONAIS,40 HORAS SEMANAIS,PRAF-RE
15,50459,Nadja Pessoa do Amarante,PSICOLOGO-AREA,40 HORAS SEMANAIS,PRAF-RE
16,50461,Raimundo Damasceno Gomes,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
17,50462,Selma de Sousa Carvalho Barbosa,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
18,50464,Terezinha Vieira de Andrade,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
19,50863,Maria Jesuina Ciarallo Cordeiro,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE

- Tratando valores nulos

In [75]:
df.fillna({
    'cargo_emprego': 'NAO INFORMADO',
    'jornada_trabalho': 'NAO INFORMADO',
    'setor_exercicio.sigla': 'NAO INFORMADO'
}, inplace=True)

In [76]:
print("Valores nulos por coluna:")
print(df.isnull().sum())

Valores nulos por coluna:
matricula                0
nome                     0
cargo_emprego            0
jornada_trabalho         0
setor_exercicio.sigla    0
dtype: int64

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   matricula              2976 non-null   int64
 1   nome                   2976 non-null   object
 2   cargo_emprego          2976 non-null   object
 3   jornada_trabalho       2976 non-null   object
 4   setor_exercicio.sigla  2976 non-null   object
dtypes: int64(1), object(4)
memory usage: 116.4+ KB

In [78]:
df.head(2976)

,matricula,nome,cargo_emprego,jornada_trabalho,setor_exercicio.sigla
0,39810,Hercilio Matias de Oliveira,TECNICO EM CONTABILIDADE,40 HORAS SEMANAIS,PRAF-RE
1,41894,Jose Dutra Amorim,CONTADOR,40 HORAS SEMANAIS,PRAF-RE
2,41933,Marcos Antonio Petrucci de Assis,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,DAPF-CZ
3,41938,Jansen Tinoco de Medeiros,VIGILANTE,40 HORAS SEMANAIS,CSEINT-JP
4,47258,Eugenio Pacelli Fernandes Leite,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
...,...,...,...,...,...
2971,1958765,Elmano Ramalho Cavalcanti,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,CEOR
2972,3237817,Eugenia Ribeiro Teles,PROF ENS BAS TEC TECNOLOGICO-SUBSTITUTO,40 HORAS SEMANAIS,DDE-IB
2973,1956010,Vitor Angelo Villar Barreto,NAO INFORMADO,DEDICACAO EXCLUSIVA,NAO INFORMADO
2974,1212038,Yagor Marco Mota de Lima,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CODAE-RE
2975,4034661,Jose de Arimateia Almeida e Silva,PROF ENS BAS TEC TECNOLOGICO-SUBSTITUTO,40 HORAS SEMANAIS,DDE-MT

- Verificando duplicatas para tratamento

In [79]:
# Verificar se há duplicatas
df.duplicated()

# Exibir as linhas duplicadas
df[df.duplicated()]

Empty DataFrame
Columns: [matricula, nome, cargo_emprego, jornada_trabalho, setor_exercicio.sigla]
Index: []

In [80]:
df.dtypes

matricula                 int64
nome                     object
cargo_emprego            object
jornada_trabalho         object
setor_exercicio.sigla    object
dtype: object

- Salvando dados manipulados

In [81]:
df.to_csv('servidores_ifpb.csv', index=False)

- ## Load

- Importando bibliotecas

In [24]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [25]:
df = pd.read_csv("servidores_ifpb.csv")
df.head(20)

,matricula,nome,cargo_emprego,jornada_trabalho,setor_exercicio.sigla
0,39810,Hercilio Matias de Oliveira,TECNICO EM CONTABILIDADE,40 HORAS SEMANAIS,PRAF-RE
1,41894,Jose Dutra Amorim,CONTADOR,40 HORAS SEMANAIS,PRAF-RE
2,41933,Marcos Antonio Petrucci de Assis,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,DAPF-CZ
3,41938,Jansen Tinoco de Medeiros,VIGILANTE,40 HORAS SEMANAIS,CSEINT-JP
4,47258,Eugenio Pacelli Fernandes Leite,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
5,47333,Maria Osmarina Nogueira de Mendonca,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,DAPF-GB
6,48566,Quenafles Vasconcelos Lopes,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
7,48870,Moacir Veloso Filho,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
8,49296,Maria Dozinha Geronimo de Souza,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE
9,50421,Eliane Rezende Teles Araujo,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
10,50429,Joao Carlos Moreira de Macedo,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CB-JP
11,50431,Lucrecia Camilo de Lima,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CB-JP
12,50443,Maria das Lagrimas Cardoso Rodrigues,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,CNAM-JP
13,50449,Maria do Carmo Ferreira de Lima,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
14,50455,Maria Doracy Moreira de Macedo,TECNICO EM ASSUNTOS EDUCACIONAIS,40 HORAS SEMANAIS,PRAF-RE
15,50459,Nadja Pessoa do Amarante,PSICOLOGO-AREA,40 HORAS SEMANAIS,PRAF-RE
16,50461,Raimundo Damasceno Gomes,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
17,50462,Selma de Sousa Carvalho Barbosa,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
18,50464,Terezinha Vieira de Andrade,ASSISTENTE EM ADMINISTRACAO,40 HORAS SEMANAIS,PRAF-RE
19,50863,Maria Jesuina Ciarallo Cordeiro,PROFESSOR ENS BASICO TECN TECNOLOGICO,DEDICACAO EXCLUSIVA,PRAF-RE

- Carregando variaveis de ambiente

In [26]:
load_dotenv()

True

In [27]:
username = os.getenv('DB_USERNAME')
password = os.getenv('DB_PASSWORD')
dbname = os.getenv('DB_NAME')
dbport = os.getenv('DB_PORT')
# print(f"Username: {username}"
#      f"\nPassword: {password}"
#      f"\nDatabase name: {dbname}")

- Conectando ao Banco de Dados

In [28]:
engine = create_engine(f"postgresql://{username}:{password}@localhost:{dbport}/{dbname}")

- Salvando o arquivo com os dados manipulados no banco de dados

In [29]:
df.to_sql('servidores', engine, if_exists='replace', index=False)

976